<domain type="{{ vm.virt_domain }}" xmlns:qemu="http://libvirt.org/schemas/domain/qemu/1.0">

  <name>{{ vm.metadata.name }}</name>
  <os>
    <type arch="{{ vm.arch }}" machine="{{ vm.machine }}">hvm</type>
    {% if vm.kernel is defined %}

      {% if vm.kernel.src is defined %}
    <kernel>{{ vm.metadata.libvirt_pool_dir }}{{ vm.kernel.src }}</kernel>
      {% endif %}
      {% if vm.kernel.params is defined %}
    <cmdline>{{ vm.kernel.params }}</cmdline>
      {% endif %}
    {% endif %}
    <boot dev='hd'/>
  </os>
  <memory unit='MiB'>{{ vm.ram }}</memory>

  {% if vm.virt_domain == "kvm" %}
    <cpu mode='host-passthrough' check='none'/>
  {% else %}
    <cpu mode="custom" match="exact">
      <model>{{ vm.cpu }}</model>
    </cpu>
    <vcpu placement='static'>{{ vm.vcpus }}</vcpu>
  {% endif %}
  
  <clock offset="utc" />
  <!--
  <features>
    <acpi/>
    <apic/>
  </features>
  -->
  <devices>
    <emulator>{{ vm.emulator }}</emulator>

    {% for disk in vm.disks %}
    <disk type='file' device='disk'>
      <driver name='qemu' type="{{ disk.type }}"/>
      <source file="{{ vm.metadata.libvirt_pool_dir }}{{ disk.src }}"/>
      <target dev="{{ disk.devname }}" bus='virtio'/>
      <address type='pci' domain='0x0000' bus='0x05' slot='0x00' function='0x0'/>
    </disk>
    {% endfor %}
  
    {% if not ( vm.net.type in [ "vde", "user" ] ) %}
    <interface type="{{ vm.net.type }}">
      
      {% if vm.net.type == "ethernet" %}
      <target dev="{{ vm.net.source }}" managed='no'/>
      {% else %}
      <mac address="{{ vm.net.mac }}"/>
      {% endif %}

      <model type='virtio'/>
      {% if vm.net.type == "bridge" %}
      <source bridge="{{ vm.net.source }}"/>
      {% else %}
      <source network="{{ vm.net.source }}"/>
      {% endif %}
    
    </interface>
    {% endif %}

    <console type="pty">
      <target type="serial" port="0"/>
    </console>
    <channel type="unix">
      <source mode="bind"/>
      <target type="virtio" name="org.qemu.guest_agent.0"/>
    </channel>
    <video>
      <model type="vga" heads="1" primary="yes"/>
    </video>
<!--
    <channel type="spicevmc">
      <target type="virtio" name="com.redhat.spice.0"/>
      <address type="virtio-serial" controller="0" bus="0" port="2"/>
    </channel>
    <graphics type="spice" autoport="yes">
      <listen type="address"/>
      <image compression="off"/>
    </graphics>
-->
  </devices>
  <!-- qemu:commandline seems to work only if it's a direct children of the <domain/> for some strange reason -->
  {% if vm.net.type in [ "vde", "user" ]  %}
    <qemu:commandline>
      <qemu:arg value="-netdev"/>
      {% if vm.net.type == "vde" %}
      <qemu:arg value="type=vde,id=vde0,sock={{ vm.net.source }}"/>
      {% elif vm.net.type == "user" %}
      <qemu:arg value="type=user,id=user0,{{ vm.net.source | default( 'hostfwd=tcp:127.0.0.1:8022-:22' ) }}"/>
      {% endif %}

      <qemu:arg value="-device"/>
      <qemu:arg value="virtio-net-pci,netdev={{ vm.net.type }}0{{ vm.net.mac is defined | ternary( ',mac=' + vm.net.mac, '' ) }},bus=pcie.0,addr=0x03"/>   <!-- make sure the network card is on the right pcie slot -->

    </qemu:commandline>
  {% endif %}
</domain>
